@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Sách này đã hết hàng! Vui lòng không đặt!
    </div>
</body>
</html>
